/* Base */
body {
  /* background-image: url('bg-header.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background-size: cover; */

  background-color: #ffffff !important;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
  text-align: left;
}


/* Background style color */
.bg-danger, .btn-danger{
  color: #fff;
  background-color: #d9534f !important;
  border-color: #d43f3a;
}

.bg-dark{
  background-color: black;
  color: #fff;
}

.bg-blue{
  background-color: #04025f;
  color: #fff;
}

.bg-white{
  background-color: #ffffff;
}

.bg-primary, .btn-primary{
  background-color: #04025f !important;   
}
/* END Background style color */


/* BUTTON TYPE AND STYLE */
.btn{
  border: 1px solid white;
  padding: 5px;
}

.btn-bg-primary{
  color: white;
}

.btn-bg-primary:hover{
  color: black;
}
/* BUTTON TYPE AND STYLE */


/* Active Page Style */
.active-page{
  background-color: #d9534f;
  border-radius: 10px;
}

a.active-page:hover{
  background-color: #d9534f;
  color: white;
  border: 4px #d9534f !important;
  border-radius: 10px;
}
/* END Active Page Style */


/* Navbar */
.navbar-brand{
  padding: 0;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-default.navbar-shrink .nav li>a.btn-admission {
  color: white !important;
}

.navbar-default.navbar-shrink .nav li>a.btn-admission:hover{
  color: #000000 !important;
}
/* END Navbar */


.panel-dark{
  background-color: rgba(0, 0, 0, 0.295);
}

.section-inner2{
  padding: 50px 0 !important;
}

/* Word of Welcom */
.word-of{
  margin: 5px auto;
  padding: 20px;
  border-radius: 20px;
}
/* End Word of Welcom */


/* Programmes of Page program */
.programs{
  margin: 0 auto;
  padding: 20px;
  
}
.programs .container {
  background-color: rgba(0, 0, 0, 0.144);
}
.program {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #04025f;
  background: rgb(0, 0, 0, 0.05);
  transition: background color 0.3;
  border-radius: 10px;
}
.program:hover{
  background: rgba(3, 0, 184);
  color: white;
}
a.program-title{
  color: black;
}
a.program-title:hover{
  color: #c2253e;
}
a.document{
  text-decoration: none;
  background-color: white;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px 10px;
  border: 2px solid #c2253e;
}
/* End Programmes of Page program */


.followers{
  margin: 0 auto;
  padding: 30px;
}

.testi .card {
  box-shadow: 5px 5px 5px grey;
  /* background-color: #000000; */
}
.testi .card-text{
  position: relative;
  /* text-align: justify; */
  font-style: italic;
  font-size: 1rem;
}

.testi .card-text::before{
  content: '"';
  font-size: 3rem;
  position: absolute;
  top: -20px;
  left: -5px;
  font-style: italic;
}
.testi .card-text::after{
  content: '"';
  font-size: 3rem;
  position: absolute;
  bottom: -20px;
  right: -5px;
  font-style: italic;
}

/* .icon-list > ul{
  display: inline-block;
  list-style: none;
  margin: 0;
  vertical-align: bottom;
} */

#comments-list .media-body{
  /* background: linear-gradient(hsla(207, 71%, 53%, 0.329),white); */
  background: linear-gradient(to right, hsla(207, 71%, 53%, 0.329), #ffffff00);
  
  /* background-color: rgba(3, 0, 184, 0.3); */
  padding: 20px 40px;
}

/*************** Formulaire Admission ********************/
.input-admission{
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  /* background-color: #fff; */
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px 15px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  height: 50px !important;
  background-color: #04025f !important;
}

.input-admission::placeholder{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.568);
}

.select-style {
  /* padding: 0; */
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}
.select-style select {
  color: white;
  font-weight: 600;
  font-size: 3rem;
  /* text-transform: none; */
  line-height: 4rem;
  padding-left: 20px;;
  
  display: block;
  /* padding: 5px 8px; */
  width: 100%;
  height: 100px;
  border: none;
  box-shadow: none;
  background-color: #04025f;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style select option {
  color: white;
  font-weight: 400;
  /* font-size: 200; */
}
.select-style:after {
  top: 50%;
  /* left: 85%; */
  right: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.select-style select:focus {
  outline: none;
}

/*************** End Formulaire ********************/

.footer{
  background-color: #d9534f;
}

.text-dark{
  color: black !important;
}


@media only screen and (min-width: 975px){
  .row-follow{
    display: table;
    width: 100%;
  }
  .row-follow [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

/* Card HOVER */
.card-program {
  border: 1px solid grey;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 5px grey;
  transition: box-shadow 1.3s, transform 1.3s;
}

.card-program:hover {
  box-shadow: 3px 3px 10px grey;
  transform: rotate(3deg) scale(1.1);
}

/* Section DESIGN */
.section-title {
  margin: 4rem 0;
}